@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebProject.Models
<div>
    <h3>Пьесы</h3>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Название пьесы</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th>Даты</th>
            </tr>
            @foreach (var p in ViewBag.Plays as List<Play>)
            {
                <tr>
                    <td><p>@p.Name</p></td>
                    <td><p>@p.Author.Name</p></td>
                    <td><p>@p.Genre.Name</p></td>
                    <td>
                        <ul>
                            @foreach (var date in p.Dates as List<Date>)
                            {
                                <li> @Html.ActionLink(date.PlayDate.ToShortDateString(), "OrdersPageForDate", "Order", new { dateId = date.Id }, null)</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
